version: "3"

services:
  cube:
    image: cubejs/cube:v0.36.0
    ports:
      - 4000:4000
    environment:
      - CUBEJS_DEV_MODE=true
      - CUBEJS_DB_TYPE=bigquery
      - CUBEJS_DB_BQ_KEY_FILE=/cube/conf/gcp-credentials.json
    volumes:
      - ./cube:/cube/conf
    env_file:
      - ./cube/.env
    restart: on-failure

  server-db:
    image: postgres:16-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: server
    volumes:
      - server_db_data:/var/lib/postgresql/data
    restart: on-failure

  server:
    build: server
    ports:
      - 8000:80
    depends_on:
      - server-db
    volumes:
      - ./server:/code/server
      - ./server/gcp-credentials.json:/code/gcp-credentials.json:ro
    env_file:
      - ./cube/.env
    environment:
      - CUBE_BASE_URL=http://cube:4000
      - GOOGLE_APPLICATION_CREDENTIALS=/code/gcp-credentials.json
      - DATABASE_URL=postgresql+psycopg://postgres:postgres@server-db:5432/server
    restart: on-failure

  webapp:
    build: webapp
    ports:
      - 3001:3001
    volumes:
      - ./webapp/public:/app/public
      - ./webapp/src:/app/src
      - ./webapp/tailwind.config.js:/app/tailwind.config.js
      - ./webapp/postcss.config.js:/app/postcss.config.js
    environment:
      - PORT=3001
      - REACT_APP_SERVER_URL=http://localhost:8000
    restart: on-failure

volumes:
  server_db_data:
