version: "3"

services:
  cube:
    image: cubejs/cube:v0.36.0
    ports:
      - 4000:4000
    environment:
      - CUBEJS_DEV_MODE=true
      - CUBEJS_DB_TYPE=bigquery
      - CUBEJS_DB_BQ_KEY_FILE=/cube/conf/gcp-credentials.json
    volumes:
      - ./cube:/cube/conf
    env_file:
      - ./cube/.env
    restart: on-failure

  server:
    build: server
    ports:
      - 8000:80
    volumes:
      - ./server:/code/app
      - ./server/gcp-credentials.json:/code/gcp-credentials.json:ro
    env_file:
      - ./cube/.env
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/code/gcp-credentials.json
    restart: on-failure

  webapp:
    build: webapp
    ports:
      - 3001:3001
    volumes:
      - ./webapp/public:/app/public
      - ./webapp/src:/app/src
      - ./webapp/tailwind.config.js:/app/tailwind.config.js
      - ./webapp/postcss.config.js:/app/postcss.config.js
    environment:
      - PORT=3001
      - REACT_APP_SERVER_URL=http://localhost:8000
    restart: on-failure
