services:
  eyk-cube:
    image: cubejs/cube:v0.36.0
    ports:
      - 4000:4000
    volumes:
      - ./cube:/cube/conf
    env_file:
      - ./cube/.env
    restart: on-failure
    networks:
      - eyk-django-network

  # eyk-cube-server:
  #   build: server
  #   ports:
  #     - 8000:80
  #   volumes:
  #     - ./server:/code/app
  #   env_file:
  #     - ./cube/.env
  #   restart: on-failure

  eyk-cube-test-app:
    build: webapp
    ports:
      - 3001:3001
    volumes:
      - ./webapp/public:/app/public
      - ./webapp/src:/app/src
    environment:
      - PORT=3001
      - REACT_APP_CUBE_API_URL=http://localhost:4000/cubejs-api/v1
      - REACT_APP_USE_SELF_HOSTED_CUBE=true
      - REACT_APP_SERVER_URL=http://localhost:8000
    restart: on-failure
    networks:
      - eyk-django-network
